.detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  background-image: url("../img/login_background.png");
  background-color: #ebecf0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.detail-card {
  background-color: #fff;
  display: flex;
  border-radius: 1em;
  width: 50%;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.detail-wrapper .detail-card .detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.detail-wrapper .detail-card .detail-header .estate-status{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 2em;
  border: 1px solid #000;
  transition: 250ms;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px
}

.detail-wrapper .detail-card .detail-header .estate-status p{
  margin: 0 !important;
  font-size: 14px;
  color: #fff;
}

.detail-wrapper .detail-card .detail-header h1 {
  font-weight: bold;
  font-size: 27px;
  color: #000;
}

.detail-wrapper .detail-card .estate-rating {
  padding-bottom: 1rem;
}

.detail-wrapper .detail-card .estate-rating i {
  color: #ffc107 !important;
  font-size: 16px;
}

.detail-wrapper .detail-card .detail-price {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.detail-wrapper .detail-card .detail-price p {
  color: #000 !important;
  font-size: 18px;
  margin: 0 !important;
}

.detail-wrapper .detail-card i {
  color: #000 !important;
  font-size: 18px;
  margin-right: 8px;
}

.detail-wrapper .detail-card .detail-location {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.detail-wrapper .detail-card .detail-location p {
  color: #000 !important;
  font-size: 18px;
  margin: 0 !important;
}

.detail-wrapper .detail-card .estate-room {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.detail-wrapper .detail-card .estate-room p{
  color: #000 !important;
  font-size: 18px;
  margin: 0 !important;
}

.detail-wrapper .detail-card .estate-area {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.detail-wrapper .detail-card .estate-area p{
  color: #000 !important;
  font-size: 18px;
  margin: 0 !important;
}

.detail-wrapper .detail-card .detail-bedroom {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 3px !important;
}

.detail-wrapper .detail-card .detail-bathroom {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 3px !important;
}

.detail-wrapper .detail-card .detail-floor {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 3px !important;
}

.detail-wrapper .detail-card .detail-area {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 3px !important;
}

.detail-wrapper .detail-card .detail-estate{
  padding: 5px;
  border-top: 1px solid #000;
  margin-bottom: 1rem;
}


.detail-wrapper .detail-card .detail-estate p {
  color: #000 !important;
  font-size: 16px;
  margin: 0 !important;
}

.detail-wrapper .detail-report{
  display: flex;
  justify-content: flex-end;
}

.button-report {
  margin-top: 1rem;
  height: 2.75rem;
  width: 10rem;
  background-color: #df4759;
  color: #fff;
  border-radius: 0.4em;
  border: 1px solid #df4759;
  transition: 250ms;
  cursor: pointer;
  font-size: 1rem;
}

.button-report:hover {
  border: 1px solid #df4759;
  background-color: #fff;
  color: #df4759;
}

.owner-wrapper .owner-detail{
  text-align: center;
}

.owner-wrapper .owner-detail .owner-pic{
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner-wrapper .owner-detail .owner-avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.owner-wrapper .owner-detail .owner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.owner-wrapper .owner-detail h2 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #000;
}
.owner-wrapper .owner-detail p{
  color: #000;
}

.owner-wrapper .owner-detail .owner-contract .owner-phone{
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner-wrapper .owner-detail .owner-contract .owner-line{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.owner-wrapper .owner-detail .owner-contract .owner-email{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}


.owner-wrapper .owner-detail .owner-contract p{
  color: #000 !important;
  font-size: 16px;
  margin: 0 !important;
}

.owner-wrapper .owner-detail .owner-contract i{
  color: #000 !important;
  font-size: 16px;
  margin-right: 8px !important;
}

.owner-wrapper .owner-detail .owner-contract .owner-line i{
  color: #000 !important;
  font-size: 20px;
  margin-right: 8px !important;
}

.owner-wrapper .owner-detail .chat-owner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 1rem;
}

.owner-wrapper .owner-detail .chat-owner form {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.owner-wrapper .owner-detail .chat-owner .chat-input{
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.owner-wrapper .owner-detail .chat-owner .chat-button{
  padding: 10px;
  font-size: 16px;
  width: 4rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.owner-wrapper .owner-detail .chat-owner i{
  color: #fff !important;
  font-size: 16px;
  margin: 0 !important;
}

@media only screen and (max-width: 767px){
  .detail-wrapper{
    height: auto;
  }
  .detail-card{
    width: 90%;
    height: auto;
  }
  
  .detail-wrapper .detail-card .detail-header .estate-status{
    width: 5rem;
    height: 2.3rem;
  }
  .detail-wrapper .detail-card p {
    font-size: 16px;
  }
  .detail-wrapper .detail-card i{
    font-size: 16px;
  }
  .detail-wrapper .detail-card .detail-location p {
    font-size: 16px;
  }
  .detail-wrapper .detail-card .estate-room p{
    font-size: 15px;
  }
  .detail-wrapper .detail-card .estate-room i{
    font-size: 15px;
  }
  .detail-wrapper .detail-card .estate-area p{
    font-size: 15px;
  }
  .detail-wrapper .detail-card .estate-area i{
    font-size: 15px;
  }
  .owner-wrapper .owner-detail .chat-owner form{
    width: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .detail-wrapper{
    height: 60.4rem;
  }
  .detail-card{
    width: 80%;
    height: auto;
  }
  .detail-wrapper .detail-card .detail-header .estate-status{
    width: 6rem;
    height: 3rem;
  }
.detail-wrapper .detail-card p {
    font-size: 18px;
  }
  .detail-wrapper .detail-card i{
    font-size: 18px;
  }
  .detail-wrapper .detail-card .detail-location p {
    font-size: 18px;
  }
  .detail-wrapper .detail-card .estate-room p{
    font-size: 16px;
  }
  .detail-wrapper .detail-card .estate-room i{
    font-size: 16px;
  }
  .detail-wrapper .detail-card .estate-area p{
    font-size: 16px;
  }
  .detail-wrapper .detail-card .estate-area i{
    font-size: 16px;
  }
}