.border-danger {
    border: 1px solid red;
}
.border-pink {
    border: 1px solid pink;
}
.border-green {
    border: 1px solid green;
}
.border-blue {
    border: 1px solid blue;
}
.body{
    font-family: 'kanit' !important;
}
.kanit {
    font-family: 'Kanit', sans-serif;
}

.loader-spinner {
    position: relative;
    width: 60px;
    height: 60px;
    
    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      margin: 5px;
      border-radius: 50%;
      border: 5px solid #fff;
      border-top-color: #3498db;
      animation: spin 1s linear infinite;
    }
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  .w-250px {
    width: 250px;
  }
  .full-cell {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #estate-select-status {
    width: 100px;
  }